#tomatoList {
    margin-top: 16px;
    border-top: 1px solid #ddd;

    .dailyTomatoes {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dateTime {
                color: #999;
                font-size: 16px;
            }

            .finishedCount {
                color: #666;
                font-size: 14px;
            }
        }
        .tomatoItem {
            font-size: 14px;
            .timeRange {
                color: #999;
            }
            .tomatoDescription {
                margin-left: 8px;
                color: #222;
            }
        }
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding: 8px 30px;
    }   
}