.index {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px 0;

    >header {
        display: flex;
        border-bottom: 1px solid #ddd;
        align-items: center;

        >.logo {
            font-size: 22px;
            line-height: 48px;
            font-weight: 700;
        }

        >.dropMenu {
            margin-left: auto;
            margin-right: 8px;
            font-size: .9rem;
            display: block;
            padding: .2em 1em;
            font-weight: 400;
            white-space: nowrap;
            color: #888;



            >a {
                color: #888;
            }

            >i {
                margin-right: 4px;
                fill: #888;
            }
        }
    }

    .ant-dropdown-menu-item>a,
    .ant-dropdown-menu-submenu-title>a {
        display: flex!important;
        align-items: center!important;
        justify-content: space-between!important;

    }
}