#Todos{
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(50% - 8px);
  box-shadow: 0 2px 0 rgba(225,225,225,.2);
  background: #fff;
  >.todoLists{
    margin-top: 16px;
    .completed  span {
      color: #999;
      text-decoration: line-through;
    }
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px; 
}
}